# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
.env text
.nvmrc text
*.tsx text
*.js text
*.ts text
*.json text
*.css text
*.mdx text
*.md text
*.html text
*.txt text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.svg binary
*.ico binary
